div[class*="donations-formsection-"] {
  background: rgba(07, 67, 101, 0.8);
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.formsection-heading {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  background: rgba(07, 67, 101, 1);
  color: white;
}


.badge-light {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
