div[class*="donations-formsection-"] {
  background: rgba(07, 67, 101, 0.8);
  color: white;
  padding: 15px;
  display: none;
}

.formsection-heading {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  background: rgba(07, 67, 101, 1);
  color: white;
  cursor: pointer;
}

.formsection-heading:not(:first-child) {
  margin-top: 20px;
}

.badge-light {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

.secure-text,
.tax-text {
  margin: 20px 0 20px 42px;
}

.secure-text::before {
  content: "\f023";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  font-size: 2rem;
}

@media (min-width: 992px) {
  .formsection-heading {
    padding: 10px;
    font-size: 1rem;
  }

  .badge-light {
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }
}
